bin
include
lib
lib64
pyvenv.cfg
share
Scripts
env

src/logs
src/.vscode
src/__pycache__
src/gps_getting_server.log

log
logs
processLogFiles/logs
gps_getting_server.log

Sensors/download.csv

note.txt
